{% extends 'base.html' %}

{% block css %}
{% endblock %}
{% block body %}
<style>

    .pi{
        font-family: 'Akaya Telivigala';font-size: 22px;
        color : whitesmoke;
        margin-left: 20px;
        background-color: rgba(31, 45, 54, 0.567);
    }
    .pi1{
        font-family: 'Akaya Telivigala';font-size: 22px;
        color:rgb(128, 189, 230);
        margin-left: 20px;
        font-weight: bold;
        font-size: 28px;
        background-color: rgba(54, 31, 39, 0.667);

    }
</style>
<div class="container">
    <div class="row">
<h2><b class="pi1"> An introduction to Time Series Forecasting </b></h2>
 <p class="pi">Time series forecasts are used to predict a future value or a classification at a particular point in time. <br> Here’s a brief overview of their common uses and how they are developed. <br>
    Prediction with respect to time is known as Time series forecasting. <br>
Method of exploring and analyzing time-series data recorded over a set period of time.
This technique is used to forecast values and make future predictions. <br>
<br>
Examples :
<br>
Profit/ loss Of a college <br>
Find average expenditure <br>
Forecast Admission records <br>
Forecast Placement records <br>
Traffic Forecasting <br>
Bet Forecasting <br>
<!-- <img src="/static/images/forestock.gif" width: 250px> -->
</p>
<iframe src="https://onedrive.live.com/embed?cid=E80342899EBC2DE7&resid=E80342899EBC2DE7%21110&authkey=AMFS-DpOggNJ_R8&em=2" width="300px" height="500px" frameborder="0" scrolling="no"></iframe>
</div>
</div>


 {% endblock %}
{% block js %}
{% endblock %}

