{% extends 'base.html' %}


{% block body %}

<style>
    .mb-3{
        font-family: 'Akaya Telivigala';font-size: 22px;
    }
</style>

<div class="container">
    <div class="row">
        
        <div class="col-md-5 mx-auto">
            <h3 class="text-center p-3">
            <b>LOGIN</b> 
            </h3>
            <form method="post" class="card" style="background-color: rgb(26, 109, 168);">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="Password" class="form-control" id="Password" name="Password">
                    </div>
                    
                    <div class="">
                        <button type="submit" class="btn btn-primary"text-align="center">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    


</div>
{% endblock %}
